* {
  margin: 0;
  padding: 0;
}

button:hover{
  cursor: pointer;
}
p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* background-color: rgb(29, 29, 220); */
  /* border: 1px solid red; */

}